/* Navigation Bar */
.nav-links {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    margin-top: 20px;
}

.nav-links a {
    margin-right: 15px;
    font-size: 16px;
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.nav-links a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;  /* Makes sure the image doesn't exceed its container */
    height: auto;      /* Keeps the aspect ratio */
    display: block;    /* Prevents extra space below inline images */
    margin: 0 auto;    /* Centers the image */
}

.page-title {
    font-size: clamp(1.8rem, 5vw, 3rem); /* Adjusts between 1.8rem and 3rem based on screen size */
    white-space: nowrap; /* Prevents wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
    align-items: center;
} *

/* Footer Styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 0.8em;
    background-color: #ffffff;
    padding: 10px;
}

/* Container for centering content */
.container {
    max-width: 600px; /* Set a boundary width */
    width: 90%; /* Adjusts the width based on the screen size */
    margin: 0 auto; /* Center the container horizontally */
}

/* Emoji size adjustment */
.emoji {
    font-size: 1.3em;
}
